$color-primary: hsl(179, 62%, 43%);
$color-primary--light: hsl(179, 47%, 52%);

$color-secondary: hsl(71, 73%, 54%);

$color-tertiary: hsl(204, 43%, 93%);
$color-tertiary--dark: hsl(218, 22%, 67%);
$color-footer: hsl(179, 43%, 21%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $color-tertiary;
  background-color: $color-tertiary;
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}
